
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa; 
    color: #333; 
    margin: 0;
    padding: 0;
  }
  
  
  .nav-tabs {
    border-bottom: 2px solid #0d6efd; 
  }
  
  .nav-tabs .nav-link {
    color: #0d6efd; 
    font-weight: bold;
  }
  
  .nav-tabs .nav-link.active {
    background-color: #0d6efd; 
    color: #fff; 
  }
  
  .nav-tabs .nav-link:hover {
    background-color: #e9f4ff; 
    color: #0a58ca; 
  }
  
  
  button {
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
  }
  
  button.nav-link {
    background: none;
    border: none;
    font-size: 16px;
  }
  
  button.nav-link:focus {
    outline: none;
  }
  
 
  .container {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff; 
  }
  
  
  h1, h2 {
    color: #0d6efd; 
  }
  
  h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
  
  
  a {
    color: #0d6efd;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
    color: #084298; 
  }
  
  footer {
    text-align: center;
    background-color: #0d6efd; 
    color: #fff; 
    padding: 10px;
    margin-top: 20px;
    font-size: 14px;
  }
  